body {
    background-color: #AEB8FE;
    font-family: 'Robot Condensed', sans-serif;
}

#My_Name_Title {
    font-family: 'Robot Condensed', sans-serif;
}

#Colored_city1, #Colored_city2 {
    color: blue;
    text-decoration: underline;
}

#MyPicture {
    border-radius: 80%;
}

.CursiveLetter {
    font-family: 'Edu VIC WA NT Beginner', sans-serif ;
}