* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.ContainerAboutMe {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.5vw;
    height: 50.0vh;
    width: 100%;
}

.textAboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.textAboutMe h2{
    padding: 7.5vh;
}
.background-img{
    width: 280px;
    height: 100%;
    padding-right: 30px;
  }
  .backgroundInverse-img{
    width: 280px;
    height: 100%;
    padding-left: 30px;
  }
  
  .ContainerMain {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    width: 100%;
  }

  
  .ContainerPhoto {
      align-items: center;
      display: flex;
      overflow: hidden;
      padding: 20px;
      width: 100%;
      justify-content: space-around;
    }
    
    .ContainerApre {
    padding: 6px;
    background-color: transparent;
    text-align: start;
    font-size: 2.5vw;;
    display: flex;
    flex-direction: column;
    height: 17vh;
    }

    .ContainerApre p {
        margin-top: 10px; 
        color: transparent;
        width: 21.3ch;
        white-space: nowrap;
        border-right: 4px solid;
        overflow: hidden;
        background: linear-gradient(40deg, rgb(157, 183, 221), rgb(145, 102, 247), rgb(157, 244, 255), rgb(227, 158, 236), violet);
        background-clip: text;
        background-size: 400% 100%;
        animation: typing 2s steps(28),
        blinking 0.5s infinite step-end alternate,
        gradientMove 10s linear infinite alternate ;
    }

    .ContainerApre h2 span{
        text-shadow: 7px 9px 19px rgba(0,0,0,0.6);
        display: inline-block;
        transition: transform 0.3s ease-in-out;
        margin-right: 0.3em; 
    }

    .ContainerApre h2 span:hover {
        transform: translateY(-5px);
        color: transparent;
          background: linear-gradient(40deg, rgb(94, 151, 236), rgb(232, 60, 255), rgb(79, 234, 255), rgb(237, 102, 255), violet);
        background-clip: text;
        background-size: 400% 100%;
        animation: gradientMove 10s linear infinite alternate ; 
    }

    .ContainerImagem{
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 25vw;
    }

  
  .Photo-img {
    border-radius: 50%;
    height: auto;
    max-width: 20vw;
    transition: transform 0.3s ease-in-out;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .Photo-img:hover {
    transform: scale(1.05); 
}
  
.textAboutMe, .ContainerAboutMe, .ContainerPhoto, .ContainerApre, body {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

@keyframes typing {
    from {
        width: 0;
    }
}

  @keyframes blinking {
      50% {
        border-color: white;
    }
  }
  
  @keyframes gradientMove {
      0% {
          background-position-x: 0%;
        }
        100% {
            background-position-x: 400%;
        }
    }
    
    
    @media (max-width: 768px) {
        
        .ContainerApre h2 span {
            transition: transform 0.3s ease-in-out;
        }
        
        .ContainerApre h2 span:hover {
            transform: translateY(-0.0rem); /* Subir 0.5rem */
        }
        
        .ContainerAboutMe {
            font-size: 18px; 
            height: auto;
            padding: 20px;
    }
    
    .ContainerMain {
        height: auto;
    }
    
    .ContainerPhoto {
        padding: 20px;
    }
    
    .ContainerApre {
        height: auto;
    }
    
    .ContainerApre p {
        font-size: 15px; 
    }
    
    .ContainerApre h2 {
        font-size: 17px; 
    }
    
    .background-img {
        display: none;
    }
    .backgroundInverse-img{
        display: none;
    }
    
    .ContainerImagem {
        width: 300px;
    }
    
    .Photo-img {
        max-width: 130px;
    }
}
.init-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-in-out, transform 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s ease-in-out, transform 0.5s ease-in-out;
}